@font-face {
    font-family: 'MTS Sans';
    src: local('MTS Sans Regular'), local('MTS-Sans-Regular'),
        url('./MTSSans-Regular.woff2') format('woff2'),
        url('./MTSSans-Regular.woff') format('woff'),
        url('./MTSSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'MTS Sans';
    src: local('MTS Sans Medium'), local('MTS-Sans-Medium'),
        url('MTSSans-Medium.woff2') format('woff2'),
        url('MTSSans-Medium.woff') format('woff'),
        url('MTSSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: "MTS Sans", sans-serif;
}
